{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="card p-2">

        <span>
            <h1>{{data.name}}</h1>
            <p>Description : {{data.description}}</p>
            <p>Price : {{data.price}}</p>
            <p>Brand : {{data.brand.name}}</p>
            <a href="{% url 'product.edit' data.id %}" class="btn btn-gradient-info">Edit</a>
            <form action="{% url 'product.delete' data.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-gradient-danger"
                    onclick="return confirm('Are you sure?')">Delete</button>
            </form>

        </span>
    </div>
</div>
{% endblock %}