{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="d-flex flex-column align-items-end">
        <a href="{% url 'location.create' %}" class="btn btn-gradient-primary">Create</a>
    </div>
    <table id="dataTable" class="table table-striped table-bordered mt-1" style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Products</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for location in data %}
            <tr>
                <td class="text-center">{{location.id}}</td>
                <td>{{location.name}}</td>
                <td>{{location.description}}</td>
                <td>{{location.phone}}</td>
                <td>{{location.address}}</td>
                <td>
                    {% for stock in stock_quantity %}
                    {% if stock.location_id == location.id %}
                    <a href="{% url 'product.detail' stock.product_id %}" class="badge bg-secondary">
                        {{ stock.product.name }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </td>
                <td class="d-flex gap-1">
                    <a href="{% url 'location.edit' location.id %}" class="btn btn-gradient-info">Edit</a>
                    <form action="{% url 'location.delete' location.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-gradient-danger"
                            onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}